.wrapper{
  width: 100%;
  background-color: $colorMain;
  // container dischi
  .ctn_disk{
    width: 1200px;
    margin:  auto;
    padding: 50px 0;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    // box dei dischi
    .box_disk{
      width: calc(100% / 4);
      height: 400px;
      background: $colorNav;
      margin: 15px;
    }
    // box dei dischi

  }
  // / container dischi

}
