.wrapper{
  width: 100%;
  background-color: $colorMain;
  // container dischi
  .ctn_disk{
    width: 1200px;
    margin:  auto;
    padding: 50px 0;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    // box dei dischi
    .box_disk{
      width: calc(100% / 4);
      height: 400px;
      background: $colorNav;
      margin: 15px;
      text-align: center;
      padding: 20px;
      // container immagine
      .ctn_img{
        margin: auto;
        img{
          width: 250px;
          height: 250px;
          border: 4px solid #fff;
        }
      }
      // / container immagine
      // titolo
      h3 {
        color: $colorWhite;
        margin: 15px 0;
        font-weight: bold;
      }
      // /titolo
      // autore e anno
      p{
        color: #3c4650;
        margin: 10px 0;
      }
      // / autore e anno
    }
    // box dei dischi
  }
  // / container dischi

}
