.bar_up{
  width: 100%;
  height: 70px;
  background-color: $colorNav;


  .logo {
    width: 1200px;
    margin:auto;
    height: 70px;
    text-align: left;
    i {
      color:#008000;
      font-size: 50px;
      margin-top: 10px;
    }
  }
}
